.container-table {
  width: 799px;
  margin: 0px auto;
}

.table-container {
  overflow-x: auto;
  background-color: #fff;
  padding: 22px 36px;
  border-radius: 4px;
  font-family: Futura PT;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 6px 0px;
  text-align: center;
  font-size: 12px;
}

th,
td {
  text-align: center;
  padding: 20px 10px;
  /* width: 296px; */
}

.second-row {
  background-color: #fafafa;
}

.third-row {
  background-color: #fafafa;
}

.bg-white {
  background-color: #fafafa;
}

.table-white-text {
  color: #fff;
}

td {
  border-top: 1px solid #ddd;
  font-size: 12px !important;
}

.section-col {
  background-color: #1d1d1d;
  color: #fff;
}

.section-col-bottom {
  border-radius: 0px 0px 10px 10px;
}

.fa-check {
  font-size: 10px;
  color: #f8d133;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: auto;
}

.fa-minus,
.icon-normal .fa-check {
  font-size: 10px;
  color: #5e5e5e;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: auto;
}

.first-col {
  width: 208px !important;
  text-align: start;
}

.second-col {
  width: 133px !important;
  text-transform: uppercase;
  font-weight: 400;
}

.border-radius-top {
  border-radius: 6px 6px 0px 0px;
  border-top: none !important;
}
.border-radius-bottom {
  border-radius: 0px 0px 10px 10px;
}
.second-col img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.display-grid-card {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 840px) {
  .table-container {
    display: none;
  }

  .display-grid-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    font-family: Futura PT;
    font-weight: 400 !important;
  }

  .display-card {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75) inset;
  }

  .display-card > h2 {
    font-size: 2rex;
    padding: 0px 20px;
    background-color: #f8d133;
    padding: 20px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    font-weight: 400 !important;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0px 20px;
  }

  .color-bg {
    background: #292e33;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-content .icon {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0px;
  }

  .card-content h2,
  .card-content .mobile-card-logo {
    width: 50%;
  }

  .card-content .icon p {
    margin: 0px;
  }

  .last-card-content {
    border-bottom: none;
  }

  .card-content h2 {
    font-size: 16px;
    font-weight: 400 !important;
  }

  .icon p {
    text-align: center;
  }
}
